<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
 <session-factory>  
 <property name="connection.url"> jdbc:oracle:thin:@127.0.0.1:1521:XE</property>  
 <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>  
<property name="connection.username">${hibernate_username}</property>
    <property name="connection.password">${hibernate_password}</property>
 <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
 <property name="hbm2ddl.auto">update</property>
 <property name="show_sql">true</property>
 
     <mapping class="com.bean.CricketMatch" />
     <mapping class="com.bean.Player" />
     <mapping class="com.dao.CricketDAO" />
     
     
 </session-factory>  
  
</hibernate-configuration>   