<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
	<bean id="FixedDeposit" name="XMLConfiguration.src.com.spring.app.FixedDeposit" class="com.spring.app.FixedDeposit">
	    <property name="interestRate" value="10"></property>
	</bean>

</beans>